.comments-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    .button-group {
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .line {
        margin: 10px 0 0 0;
        height: 1px;
        width: 100%;
        background-color: #d7d7d7;
    }
    .comments-view {
        flex: 1;
    }
    .comments-search {
        width: 90%!important;
        margin: 0 auto;
    }
}