@import 'mixin';
.dialog-wrapper {
    @extend %dialog;
    .box {
        .dialog {
            width: rem(700);
            background-size: 100% auto;
            border-radius: 8px;
            overflow: scroll;
        }
    }
}