@import 'mixin';
.message-wrapper {
    background-color: #fff;
    box-shadow: 0 0 10px #eed;
    border-radius: 10px;
    text-align: left;
    padding: 0 rem(30);
    margin-top: rem(50);
    position: relative;
    .content {
        margin: rem(20) 0;
        padding-top: rem(70);
        font-size: rem(30);
        word-wrap: break-word;
    }
}