@import 'mixin';
.message-wrapper {
    background-color: #fff;
    // border: 1px solid #eee;
    box-shadow: 0 0 10px #eed;
    border-radius: 8px;
    text-align: left;
    padding: rem(10) rem(30);
    .content {
        margin: rem(20) 0;
        font-size: rem(30);
        word-wrap: break-word;
    }
}