// pixels to rems
@function rem($px) {
    @return $px / 750 * 16rem;
}

$blue: #85cdbf !default;

/* 组件样式
@mixin u-detail_btn {
    .u-detail_btn {
        font-size: rem(24);
        color: #162F67;
        text-decoration: underline;
    }
}*/

%dialog {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .57);
    z-index: 5;
    // &.z-active {
    //   display: table;
    // }
    .box {
        display: table-cell;
        vertical-align: middle;
        .dialog {
            width: rem(500);
            margin: auto;
            position: relative;
        }
    }
}

@mixin u-message {
    .message {
        font-size: rem(24);
        img {
            width: rem(100);
            height: rem(100);
            // border-radius: 50%;
        }
    }
}

.err {
    .ivu-input {
        border-color: #ED1C24;
        box-shadow: 0 0 5px #ED1C24;
    }
    /* border: 1px solid #ED1C24!important;
    border-radius: 4px; */
}