@import 'mixin';
.m-bottom-wrapper {
    .icon-wrapper-com {
        display: flex;
        color: #FFC100;
        .icon {
            flex: 1;
            min-width: rem(200);
        }
    }
    .icon-wrapper-joint {
        display: flex;
        color: #FFC100;
        .commu-num {
            flex: 1;
            color: $blue;
            min-width: rem(160);
        }
    }
}