@import 'mixin';
.m-bottom-wrapper {
    padding-bottom: rem(20);
    .icon-wrapper-com {
        display: flex;
        color: #FFC100;
        .icon {
            flex: 1;
            text-align: left;
            min-width: rem(200);
        }
    }
    .icon-wrapper-joint {
        display: flex;
        color: #FFC100;
        .commu-num {
            flex: 1;
            color: $blue;
            min-width: rem(160);
            text-align: left;
        }
    }
    .m-bottom-message {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .m-buttom-button-group {
            text-align: right;
        }
    }
}