@import 'mixin';
.tabs-wrapper {
    display: flex;
    flex-direction: column;
    height: 56px;
    border-bottom: 1px solid #d7d7d7;
    .tabs-row {
        display: flex;
        .tabs-column {
            flex: 1;
            line-height: 56px;
            .tabs-item {
                font-size: 18px;
                color: #7c7c7c;
                display: inline-block;
            }
            .tabs-active {
                color: #85cdbf;
            }
        }
    }
    .tabs-line {
        width: 20px;
        height: 2px;
        background-color: #85cdbf;
        transition: all .3s;
    }
}